/* カスケードレイヤー */
@layer default, layout, theme;

/* pagefind/default-uiのダークモード */

body.dark-mode {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
}

/* 上書き用のスタイル: 上下のスペースを大きくする */
body .large-space {
    margin-block: 2.5em;
}

/* サイトのダークモード */
:root {
    --main-text: #000;
    --main-bg: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-text: #fff;
        --main-bg: #202124;
    }
}
body {
    color: var(--main-text);
    background: var(--main-bg);
    transition: 0.3s;
}
.light-mode {
    --main-text: #000;
    --main-bg: #fff;
}
.dark-mode {
    --main-text: #fff;
    --main-bg: #202124;
}

.breadcrumb-item {
    display: inline;
}
.breadcrumb-item:not(:first-child)::before {
    content: ">";
    padding: 0 4px;
}

.opt_wrap {
    display: flex;
    justify-content: space-between;
}

#playButton {
    background-color: black;
    width: 60px;
    height: 40px;
    border: none;
    color: #ccc;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s; /* トランジションの時間 */
    border-radius: 12px; /* 角を丸く */
    /* margin-inline: auto; */
}

#playButton:hover {
    background-color: white; /* ホバー時の背景色 */
    color: black; /* ホバー時の文字色 */
    border: 2px solid #4caf50; /* ホバー時のボーダー */
}
