---
import  Layout  from "@layouts/layout.astro";
import React from 'react';
import { categories } from "../lib/constants";

---

<Layout pageTitle="404 - Page not found" >
    <div class="app">
        <React.Fragment>
            <h1>404</h1>
            <p>お探しのページが見つかりませんでした!!</p>
            <h2>カテゴリー一覧</h2>
            </ul>
        </React.Fragment>
    </div>
</Layout>
