---
---

<button id="playButton">Sound ON</button>
<script>
import { Howl } from 'howler';

// Howlオブジェクトを初期化
const sound = new Howl({
  src: ['/public/Dark_Hero.mp3'], // 音声ファイルのパスを指定
  autoplay: false,
  loop: false,
  volume: 1.0,
});

// 再生状態を管理するフラグ
let isPlaying = false;

// ボタンのクリックイベントにリスナーを追加
document.getElementById('playButton').addEventListener('click', () => {
  if (isPlaying) {
    sound.pause();  // 音声を一時停止
  } else {
    sound.play();   // 音声を再生
  }
  isPlaying = !isPlaying; // 再生状態を反転
});

</script>

