---
import { siteMeta } from "@lib/constants";
const { siteBgm } = siteMeta;
const siteBgmURL = new URL(siteBgm, siteMeta.siteUrl).href;
console.log('bgmurl', siteBgmURL);
---

<button id="playButton">Sound ON</button>
<script>
import { Howl } from 'howler';

// siteBgmURLを直接JavaScriptに渡す
const sound = new Howl({
  src: ['{{ siteBgmURL }}'], // テンプレートエンジンがURLを展開
  autoplay: false,
  loop: false,
  volume: 1.0,
});

// 再生状態を管理するフラグ
let isPlaying = false;

// ボタンのクリックイベントにリスナーを追加
document.getElementById('playButton').addEventListener('click', () => {
  if (isPlaying) {
    sound.pause();  // 音声を一時停止
  } else {
    sound.play();   // 音声を再生
  }
  isPlaying = !isPlaying; // 再生状態を反転
});
</script>
