---
import Icon from '../icons/IcBaselineAddCircleOutline.astro'
---

<footer>
  <ul>
    <li>
      <a href="http://twitter.com/">
        <Icon />
      </a>
    </li>
    <li>
      <a href="http://github.com">
      </a>
    </li>
  </ul>
</footer>

