---
import { Icon } from 'astro-icon/components'
---

<footer>
	<ul>
		<li>
			<a rel="prefetch" href="https://www.shell-design.net/rss.xml">
				<Icon name="mdi:rss" />
			</a>
		</li>
		<li>
			<a rel="prefetch" href="https://github.com/">
				<Icon name="mdi:github" />
			</a>
		</li>
	</ul>
</footer>

<style>
[data-icon] {
    font-size: 2.6rem;
    color: var(--brand-color);
}
</style>

