---
import Dark from "@components/dark.astro";
---

<header>
	<Dark />
	<nav>
		<a rel="prefetch" href="/">
		<img src="/Shell-Design.svg" alt="ロゴ" width="28px" height="28px">
		Shell Design
		</a>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/blog/tags">Tags</a></li>
		</ul>
	</nav>
</header>
