---

---

<header>
	<nav>
		<a href="/">
		<img src="/Shell-Design.svg" alt="ロゴ" width="28px" height="28px">
		Shell Design
		</a>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
</header>
